body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.left-component {
  margin: 20px;
  padding: 10px;
  float: left;
  width: 40%;
}

.right-component {
  float: right;
  width: 40%;
  margin: 20px;
  padding: 10px;
}

img {
  width: 400px;
  height: 400px;
}